.latest-posts-degraded {
  position: absolute;
  right: -15%;
  width: 50vw;
  height: 50vw;
  z-index: -1;
}

.latest-posts-degraded-mobile {
  position: absolute;
  width: 100vw;
  height: 100vw;
  z-index: -1;
  top: -12%;
}