@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-color: #1b1b1b;
    --background-color-86: #252525;
    --highlight-color: #e5a818;
}

body {
    color: white;
    background-color: var(--background-color);
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

h1 {
    color: #b69fe2;
    font-size: 1.9375rem; /* 31px */
}

h2 {
    font-size: 3.75rem; /* 60px */
    line-height: 1;
}

h2 strong {
    letter-spacing: 0.1rem;
}

h3 {
    font-size: 2.25rem; /* 36px */
    line-height: 1.2;
}

h4 {
    font-size: 1.9rem;
    line-height: 1;
}

h5 {
    font-size: 1.1rem;
    line-height: 1;
}

button {
    font-size: 2.25rem; /* 36px */
}

.image {
    transform: scale(-1, 1);
}

.service-gradient {
    border-radius: 500px;
    opacity: 0.9;
    background-image: radial-gradient(
            41.39% 101.88% at 77.03% 94.27%,
            rgba(0, 0, 0, 0) 100%
        ),
        radial-gradient(
            45.88% 94.27% at 62.95% 94.72%,
            #0543c5 0%,
            rgba(88, 125, 203, 0) 100%
        ),
        radial-gradient(
            210.81% 103.54% at 76.2% 2.7%,
            #600064 0%,
            rgba(0, 0, 0, 0) 100%
        ),
        radial-gradient(
            138.01% 71.11% at 17.5% 12.81%,
            #350093 0%,
            rgba(0, 0, 0, 0) 100%
        ),
        radial-gradient(
            62.61% 80.12% at 56.65% 105.39%,
            #37cfe4 0%,
            rgba(0, 0, 0, 0) 100%
        ),
        radial-gradient(
            179.56% 78.03% at 10.31% 88.31%,
            #d32072 0%,
            rgba(0, 0, 0, 0) 100%
        ),
        #0b0b0b;
    background-blend-mode: normal, plus-lighter, plus-lighter, plus-lighter,
        plus-lighter, plus-lighter, normal;
    background-size: 50% 50%;
    background-repeat: no-repeat;
}

.dot {
    --diameter: 25px;
    min-width: var(--diameter);
    min-height: var(--diameter);
    border-radius: 50%;
}
